div.imageList img {
  margin: 5px;
  height: 25%;
  position: relative;
  top: 0px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
}

div.imageList img:hover {
  box-shadow: 0 5px 8px 0 grey;
  position: relative;
  top: -5px;
}

div.imageContainer {
  display: inline-block;
  margin-left: 25%;
  width: 50%;
}

div.imageContainer img {
	margin: 5px;
  position: relative;
  height: 250px;
  max-height: 100%;
}

div.textContainer {
  padding: 0px;
  margin-left: 25%;
  width: 50%;
}