div.pageTitle, div.pageTitle * {
	background-color: rgb(200, 200, 200);
	text-align: center;
	font-size: 150%;
}

div.pageTitle {
	text-decoration: none;
}

div.pageTitle a, div.pageHeader a {
	text-decoration: none;
	background-color: inherit;
}

div.pageHeader, div.pageHeader * {
	background-color: rgb(120, 120, 120);
	text-align: center;
	margin: auto;
	font-size: 110%;
}

div.pageHeader div.headerItem:hover,	
div.pageHeader div.dropdownItem:hover,
div.pageHeader div.dropdownItem:hover .dropdownHeader {
	background-color: rgb(200, 200, 200);
}

div.headerItem, div.dropdownItem{
	display: inline-block;
	background-color: inherit;
}

div.headerItem a, .dropdownHeader {
	padding-left: 5px;
	padding-right: 5px;
	cursor: pointer;
}

div.dropdownContent {
  display: none;
  position: absolute;
}

div.dropdownContent a {
	padding: 5px;
	display: block;
	text-align: left;
}

div.dropdownItem:hover div.dropdownContent {
	display: block;
}

div.dropdownContent a:hover {
	background-color: rgb(200, 200, 200);
}
