body {
	padding: 0px;
	margin: 0px;
	font-family: 'Ubuntu', sans-serif;
}

header, header * {
	background-color: rgb(55, 55, 55);
	color: rgb(55, 55, 55);
	z-index: 1;
}

main {
	padding: 5px;
	margin: 5px;
}
